@import url('https://fonts.googleapis.com/css?family=Roboto');

button:focus {outline:0;}
input:focus{outline:0;}

.image {
    border-color: #00fafa;
    max-width: 400px;
    display: block;
    width: auto;
    height: auto;
    margin-bottom: 5px;
}
body {
    background: linear-gradient(to left, #b865b5, #c295ba);
}

.button {
    font-family: Helvetica;
    font-size: 20px;
    position: relative;
    border-radius: 5px;
    width: 200px;
    height: 70px;
    cursor: pointer;
    margin-bottom: 10px;
    background-color: #ab3c3c;
    left: calc(50% - 100px);


}

#image-holder {
    background: #d0545a;
    padding: 60px;
    border-radius: 10px;
    position: absolute;
    top: 10%;
    left: calc(50% - 260px);
}

#search {
    border-radius: 10px;
    width: 400px;
    margin-bottom: 5px;
}